@import "variables";
@import "mixins";

// --------------------
// ICONS
// --------------------

@if $font-icons == true {
  @include class-model(icon) {
    @include font-reset;
    font-family: $font-icons-name;
    text-transform: none;
    line-height: 1;
    speak: none;
    @if $font-icons-stroke {
      text-shadow:
        -$font-icons-stroke-size + px -$font-icons-stroke-size + px 0 $font-icons-stroke-color,
        $font-icons-stroke-size + px -$font-icons-stroke-size + px 0 $font-icons-stroke-color,
        -$font-icons-stroke-size + px $font-icons-stroke-size + px 0 $font-icons-stroke-color,
        $font-icons-stroke-size + px $font-icons-stroke-size + px 0 $font-icons-stroke-color;
    }

    $icons:
    "icon" // icon name to use in class declaration
  ;

    $icons-code:
    "\e601"   // code of icon
  ;

    $n: length($icons);
    @for $i from 1 through $n {
      @if $font-icons-prefix == false {
        @include class-modifier(nth($icons, $i)) {
          &:before {
            content: "#{nth($icons-code, $i)}";
            vertical-align: middle;
          }
        }
      }
      @else {
        @include class-modifier($font-icons-prefix + "_" + nth($icons, $i)) {
          &:before {
            content: "#{nth($icons-code, $i)}";
            vertical-align: middle;
          }
        }
      }
    }
    // sizes
    @for $i from 1 through 6 {
      @include class-modifier("size_#{$i}") {
        @include font-size(4 + $i * $font-icons-size-factor);
      }
    }
    // colors
    @include class-modifier(color) {
      $n-colors: length($font-icons-colors-name);
      @for $i from 1 through $n-colors {
        @include class-option(nth($font-icons-colors-name, $i)) {
          color: #{nth($font-icons-colors-code, $i)};
        }
      }
    }
  }
}
