@charset "UTF-8";

@import "mixins";
@import "variables";
@import "normalize";
@import "icons";
@import "extends";
@import "base";
@import "globals";

html {
  height: 100%;
  font-size: 62.5%;
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
body {
  min-height: 100%;
  font-style: normal;
  font-family: $font-base-regular, $font-base-simple;
  @include font-size($font-base-size);
}
